{% extends 'event/base.html' %}
{% load tags %}

{% block content %}
<div class="event">
    <a class="btn btn-info" href="{% url 'event:player_new' pk=event.pk %}">参加者追加</a>
    <a class="btn btn-info" href="{% url 'event:result_new' pk=event.pk %}">成績を記録</a>
    {% if not result_summary.empty %}
    <a class="btn btn-link" href="{% url 'event:result_export' pk=event.pk %}">成績をダウンロード</a>
    {% endif %}
    <h1>{{ event.title }}</h1>
    <p>参加者にこのURLを共有：{{ request.build_absolute_uri }}</p>
    <h4>ルール</h4>
    <ul>
        <li>配給原点：{{ event.point_at_start }}</li>
        <li>端数処理：{{ event.rounding_method|lookup_rounding_method }}</li>
        <li>ウマ計算：{{ event.uma_method|lookup_uma_method }}</li>
    </ul>
    <hr>
    <h4>参加者</h4>
    {% for player in player_list %}
    <span class="player">
        <a href="{% url 'event:player_edit' event_pk=event.pk pk=player.pk %}">{{ player.name }}</a>
    </span>

    {% endfor %}
    <hr>
    <h4>成績サマリー</h4>
    {% if not result_summary.empty %}
    <table class="table table-striped">
        <thead>
        <td>内訳</td>
        {% for column in result_total.columns %}
        <td>{{ column }}</td>
        {% endfor %}
        </thead>
        <tbody>
        {% for index, row in result_total.iterrows %}
        <tr>
            <th>{{ index }}</th>
            {% for item in row %}
            <td>{{ item|floatformat }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>すべての結果(素点, ウマ, その他)</h4>
    <table class="table table-striped">
        <thead>
        {% for column in result_summary.columns %}
        <td>{{ column }}</td>
        {% endfor %}
        <td></td>
        </thead>
        <tbody>
        {% for index, row in result_summary.iterrows %}
        <tr>
            {% for item in row %}
            <td>{% if item != 'nan（nan）' %} {{ item }} {% endif %}</td>
            {% endfor %}
            <th><a href="{% url 'event:game_delete' event_pk=event.pk pk=index %}">
                <i class="fas fa-trash-alt"></i>
            </a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}